body
{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
header
{
    background: #e554731a;
    width: 2260px;
    height: 850px;
    
}
.header-item
{
    display: flex;
    padding: 10px 800px 0px 100px;
    justify-content: space-around;
    align-items: center;

}
.btn-primary
{
    
    border-radius: 8px;
    background: #E55473;
    border:0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    margin-bottom: 10px;

}
.banner-contain
{
    max-width: 720px;
}


.banner-title
{
    color: #272727;
    font-size: 80px;
    margin-bottom: 5px;
}
.banner-discription
{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    align-items: center;
    margin-bottom: 20px;
}
.banner-img
{
    width: 500px;

}
/* about style */
.about
{
    align-items: center;
    padding: 50px 30px 30px 50px;
    text-align: center;
    width: 1920px;
    height: 706px;
}
.about-info
{
    max-width: 720px;
    padding: 0px 100px 50px 400px;
    text-align: center;
}
.about-title
{
    color: #272727;
    font-size: 40px;
    margin: 5px;

}
.about-discription
{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

/* Flower info style */

.flower
{
    display: flex;
    margin-top: 5px;
    width: 310px;
    height: 428px;
    margin: 0px 300px 0px 350px;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;


}

.Flower-1
{
    border-radius: 300px 300px 0px 0px;
    margin: 10px;
    gap: 25px;
    width: 230px;
    height: 258px;
    padding-top: 80px;

}
#f1
{
    
        background: rgba(167, 33, 98, 0.15);


}
#f2
{
  
    background: rgba(5, 151, 160, 0.15);

}
#f3
{

    background: rgba(71, 125, 17, 0.15);

}
#link-id
{
    padding: 0 50px 0 50px;
    text-decoration: none;
    color: #d61b43;

}
#link-id:hover
{
    background-color: #c9a1aa;
}
.hot-deal
{
   
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    padding: 10px 30px 0px 300px;


}
.hot-deal-contaim
{
    display: block;
    align-items: center;
    max-width: 720px;
}

/* instra style */

.instra
{
    width: 1922px;
    height: 600px;
    margin-bottom: 80px;
}

.instra-info
{
    align-items: center;
    padding: 50px 550px;
    text-align: center;
    max-width: 500px;
}
.flower-img
{
    width: 342px;
    height: 300px;
    display:flex;
    padding-left: 300px;
    gap:30px
    
}
/* Special Info */
.special
{
    
    width: 1922px;
    height: 600px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    padding: 10px 30px 0px 300px;
}
.special-info 
{
    align-items: center;
    padding: 50px 300px;
    text-align: center;
    max-width: 500px;
}
.special-sits
{
    display: flex;
    gap: 25px;
}

/* Latest Idea */
.latest-idea
{
    width: 1440px;
    height: 449px;
    text-align: center;
    background-image: url("../Flower Asset/Rectangle 9.png");
    background-repeat: none;
    background-size: cover;
    margin: 100px 100px 100px 150px;
  
}
.latest-idea-info
{
   
    
    padding: 50px 30px 0px 400px;
    max-width: 720px;

}

.email
{
    width: 700px;
    height: 64px;
    border-style: none;
    border-radius: 8px;
    
}
.form-latest
{
    display: flex;
    gap: 24px;
    padding-top: 25px;
    padding-left: 300px;
}
/* footer style */

.footer-contain
{
    background-color:black;
    width: 2260px;
    height: 449px;
    

}
.footer-items
{
    display: block;
    max-width: 720px;
    align-items: center;
    padding: 10px 30px 0px 500px;
    text-align: center;
}
.footer-discription
{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
        
}
.footer-title
{
    font-size: 48px;
}
.footer-copy
{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
}